# Sample environment variables for AI Quiz Generator backend
# Rename this file to .env and fill in your actual keys and passwords

GEMINI_API_KEY="enter your key here"
GOOGLE_API_KEY="enter your key here"

MYSQL_ROOT_PASSWORD="enter your password here"
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_DB="ai_quiz_db"
MYSQL_USER="root"
