@import "tailwindcss";

:root {
  --card: #ffffff;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-open {
  overflow: hidden; /* prevents background scrolling */
}